<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chess Champion</title>
    <meta name="description" content="Challenge your chess skills versus Stockfish AI or other players.">
    <meta name="robots" content="index, nofollow">
    <base href="/" />
    <link rel="stylesheet" href="@Assets["site.css"]" />
    <link rel="stylesheet" href="@Assets["ChessChampionWebUI.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>