.page {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 1vw;
    height: 100%;
    background-image: url("wooden-board-table.webp");
    background-size: cover;
}
