@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

app, html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

a, .btn-link {
    color: #0366d6;
}

.component-border {
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 27px -12px rgba(255,255,255,0.5);
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition-duration: 0.2s;
}

    .logo:hover {
        font-weight: bolder;
    }

.nav-link {
    color: blue;
    white-space: nowrap;
}

.form-group {
    display: block;
    margin: 0.5rem 0 0 0;
}

.form-control {
    font-family: sans-serif;
    display: block;
    width: min(600px, 90%);
    margin: 0.5rem 0 1rem 0;
    border: 2px solid gray;
    font-size: max(16px, 1em);
    padding: 0.5em;
    transition-duration: 0.2s;
}

    .form-control:focus {
        box-shadow: 0 0 10px 3px rgba(71, 133, 183, 0.30)
    }


.btn {
    border-radius: 5px;
    border: 2px solid gray;
    margin: 5px;
    font-size: 16px;
    padding: 6px 10px;
    white-space: nowrap;
}

    .btn :focus {
        border-color: black;
        outline: none;
    }

.btn-primary {
    background-color: rgb(70, 148, 225);
}

    .btn-primary:hover {
        background-color: #1F7EC7;
        color: white;
    }

    .btn-primary:active {
        background-color: blue;
    }

.btn-secondary {
    background-color: rgb(156, 168, 179);
}

    .btn-secondary:hover {
        background-color: #87939B;
        color: white;
    }

    .btn-secondary:active {
        background-color: rgb(66, 66, 73);
    }

.btn-danger {
    background-color: rgb(227, 109, 100);
}

    .btn-danger:hover {
        background-color: rgb(244, 73, 72);
        color: white;
    }

    .btn-danger:active {
        background-color: rgb(255, 0, 0);
    }



.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.page {
    
}

.top-row {
    background-color: burlywood;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-around;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.content {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 5vw;
}

#chess-board {
    display: grid;
    grid-template-columns: repeat(9, min(4rem, 10vw));
    grid-template-rows: repeat(9, min(4rem, 10vw));
    font-size: min(3rem, 7vw);
    cursor: pointer;
}

.square {
    display: grid;
    align-items: center;
    justify-items: center;
    user-select: none;
}

.selected {
    background-color: rgb(227, 220, 74);
}

.movable {
    background-color: lightgreen;
}

.light {
    background-color: wheat;
}

.dark {
    background-color: peru;
}
