<div class="@GetColorClass() @GetBorderClass() square" @onclick="HandleClick">@(Square.Piece == null ? "" : Square.Piece.Marker)</div>

@code {
    [Parameter][EditorRequired] public required GameSquare Square { get; set; }
    [Parameter][EditorRequired] public required EventCallback<GameSquare> HandleClickCallback { get; set; }

    private string GetColorClass()
    {
        int rowRemainder = Square.Y % 2;
        int columnRemainder = (Square.X + rowRemainder) % 2;
        return Square.State switch
        {
            SquareState.Selected => "selected",
            SquareState.Movable => columnRemainder == 0 ? "movable-light" : "movable-dark",
            _ => columnRemainder == 0 ? "light" : "dark",
        };
    }

    private string GetBorderClass()
    {
        return Square.WasPreviousMove ? "strong-border" : "border";
    }

    private Task HandleClick()
    {
        return HandleClickCallback.InvokeAsync(Square);
    }
}