.turn-text {
    font-size: clamp(16px, 4vw, 24px);
    font-weight: bold;
    margin: 1rem;
}

.game-code {
    font-size: clamp(16px, 4vw, 24px);
    font-weight: bold;
    margin: 1rem;
    color: blue;
}